<%- include('../includes/head') %>
    <div class="bg-gray-900 min-h-screen flex items-center justify-center">
        <div
            class="bg-gray-800 flex-1 flex flex-col space-y-5 lg:space-y-0 lg:flex-row lg:space-x-10 max-w-6xl sm:p-6 sm:my-2 sm:mx-4 sm:rounded-2xl">
            <div class="bg-gray-900 px-2 lg:px-4 py-2 lg:py-10 sm:rounded-xl flex lg:flex-col justify-between">
                <nav class="flex items-center flex-row space-x-2 lg:space-x-0 lg:flex-col lg:space-y-2">
                    <a class="text-white/50 p-4 inline-flex justify-center rounded-md hover:bg-gray-800 hover:text-white smooth-hover"
                        href="/calendario/<%=new Date().toISOString().slice(0, 10)%>">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 sm:h-6 sm:w-6" viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                        </svg>
                    </a>
                    <a class="bg-gray-800 text-white p-4 inline-flex justify-center rounded-md" href="/times">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 sm:h-6 sm:w-6" viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z" />
                        </svg>
                    </a>
                </nav>
                <div class="flex items-center flex-row space-x-2 lg:space-x-0 lg:flex-col lg:space-y-2">
                    <a class="text-white/50 p-4 inline-flex justify-center rounded-md hover:bg-gray-800 hover:text-white smooth-hover"
                        href="/usuarios/perfil">
                            <img class="icone" src="/<%= usuario.imagem%>" alt="">
                            <path fill-rule="evenodd"
                                d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
                                clip-rule="evenodd" />
                        </svg>
                    </a>
                    <a class="text-white/50 p-4 inline-flex justify-center rounded-md hover:bg-gray-800 hover:text-white smooth-hover"
                        href="/usuarios/logout">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 sm:h-6 sm:w-6" viewBox="0 0 20 20"
                            fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M3 3a1 1 0 011 1v12a1 1 0 11-2 0V4a1 1 0 011-1zm7.707 3.293a1 1 0 010 1.414L9.414 9H17a1 1 0 110 2H9.414l1.293 1.293a1 1 0 01-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0z"
                                clip-rule="evenodd" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="flex-1 px-2 sm:px-0">
                <div class="flex justify-between items-center">
                    <h3 class="text-3xl font-extralight text-white/50">Times</h3>

                </div>
                <div class="mb-10 sm:mb-0 mt-10 grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                    <div class="wrap-login100 p-t-5 p-b-90">
                        <form class="login100-form validate-form flex-sb flex-w" action="/times/cadastrar"
                            method="POST">
                            <table style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td><label class="font-extralight text-white/50" for="nome">Nome: </label></td>
                                        <td><label class="font-extralight text-white/50" for="descricao">Descricao:
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>

                                            <input name="nome" type="text" id="nome"
                                                class="w3-white w3-border w3-round-large" placeholder="Nome" autofocus>

                                        </td>
                                        <td>
                                            <input name="descricao" type="text" id="descricao"
                                                class="w3-white w3-border w3-round-large" placeholder="Descrição"
                                                required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><label class="font-extralight text-white/50"
                                                for="membros">Membros:
                                            </label></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <select class="multiselect" id="membros" name="membros[]"
                                                multiple="multiple" style="width: 100%;">
                                                <% usuarios.forEach(usuario => { %>
                                                    <option value="<%=usuario.id%>"><%=usuario.nome%></option>
                                                <% }) %>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <button style=" margin-left: 77%;" type="submit"
                                                class="w3-button w3-green">Cadastrar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<%- include('../includes/footer') %>